<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <title>@ViewBag.Title | Crawler Site</title>

    <link rel="canonical" href="https://www.crawlersite.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Easy way to truly understand your web and mobile site visitors">
    <meta name="author" content="Crawler Site Inc.">
    <link rel="apple-touch-icon" sizes="57x57" href="https://www.crawlersite.com/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://www.crawlersite.com/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://www.crawlersite.com/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.crawlersite.com/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://www.crawlersite.com/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://www.crawlersite.com/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://www.crawlersite.com/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://www.crawlersite.com/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.crawlersite.com/images/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://www.crawlersite.com/images/apple-icon.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://www.crawlersite.com/images/android-icon-192x192.png?v=2">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.crawlersite.com/images/favicon-32x32.png?v=2">
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.crawlersite.com/images/favicon-96x96.png?v=2">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.crawlersite.com/images/favicon-16x16.png?v=2">
    <link rel="manifest" href="https://www.crawlersite.com/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://www.crawlersite.com/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Crawler Site">
    <meta itemprop="description" content="Easy way to truly understand your web and mobile site visitors">
    <meta itemprop="image" content="https://www.crawlersite.com/images/OpenGraphBanner.jpg" />
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="&#64;Crawler Site">
    <meta name="twitter:title" content="Crawler Site">
    <meta name="twitter:description" content="Easy way to truly understand your web and mobile site visitors">
    <meta name="twitter:creator" content="&#64;Flinger">
    <meta name="twitter:image" content="https://www.crawlersite.com/images/OpenGraphBanner.jpg">
    <!-- Open Graph data -->
    <meta property="og:title" content="Crawler Site" />
    <meta property="og:type" content="product" />
    <meta property="og:url" content="https://www.crawlersite.com/" />
    <meta property="og:image" content="https://www.crawlersite.com/images/OpenGraphBanner.jpg" />
    <meta property="og:description" content="Easy way to truly understand your web and mobile site visitors" />
    <meta property="og:site_name" content="Crawler Site" />

    <script src="//crawlersite-kernel.azurewebsites.net/build/flinger.js" data-flinger="795f40ea-8f2f-493a-b668-7efabe812699"></script>
    
    <environment names="Development">
        <!-- Bootstrap core CSS -->
        <link href="~/home-assets/css/bootstrap.css" rel="stylesheet">

        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/home-assets/css/main.css" rel="stylesheet">

        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <script src="//use.fontawesome.com/8c27e78102.js"></script>
        <script src="~/home-assets/js/jquery.min.js"></script>
        <script src="~/home-assets/js/smoothscroll.js"></script>

           <!-- Fonts and Icons -->
        <link href="~/register-assets/css/themify-icons.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />
    </environment>
    <environment names="Staging,Production">
        <!-- Bootstrap core CSS -->
        <link href="~/home-assets/css/bootstrap.css" rel="stylesheet">

        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/site.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="~/home-assets/css/main.css" rel="stylesheet">

        <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
        <link href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
        <script src="//use.fontawesome.com/8c27e78102.js"></script>
        <script src="~/home-assets/js/jquery.min.js"></script>
        <script src="~/home-assets/js/smoothscroll.js"></script>

           <!-- Fonts and Icons -->
        <link href="~/register-assets/css/themify-icons.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="~/css/dialog.css" />

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-101429378-1', 'auto');
            ga('send', 'pageview');

        </script>
    </environment>




</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

    <div id="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand crawler-logo" href="@Url.Action("Index", "Home")"><b class="app-name">Crawler Site</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li data-home><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li data-services><a href="@Url.Action("Index", "Services")">Services</a></li>
                    <li data-pricing><a href="@Url.Action("Index", "Pricing")">Pricing</a></li>
                    <li data-support><a href="@Url.Action("Index", "Support")">Support</a></li>

                    <li data-register><a href="@Url.Action("Register", "Home")" class="btn btn-danger2" data-toggle="tooltip" data-placement="bottom" title="No Credit Card Required">TRY IT FOR FREE</a></li>
                    <li data-login><a href="@Url.Action("Login", "Home")" class="btn btn-default">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 footer-options">
                    <div class="col-lg-3 col-lg-offset-1">
                        <ul class="brand">
                            <li><a class="navbar-brand crawler-logo-mono" href="@Url.Action("Index", "Home")"><b class="app-name-mono">Crawler Site</b></a></li>

                            <li>
                                <a href="https://twitter.com/CrawlerSite" target="_blank"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i></span></a>
                                <a href="https://www.facebook.com/CrawlerSite/" target="_blank"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i></span> </a>
                                <a href="https://www.linkedin.com/company-beta/16260366/" target="_blank"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i></li></span></a> 
                            <li>&nbsp;</li>
                            <li>&copy; <script>document.write(new Date().getFullYear())</script> Crawler Site Inc. All Rights Reserved.</li>
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <h3>Product & benefits</h3>
                        <ul>
                            <li><a href="@Url.Action("Documentation", "Home")" class="footer-link">Services</a></li>
                            <li><a href="@Url.Action("Pricing", "Home")" class="footer-link">Plans & pricing</a></li>
                            <li><a href="@Url.Action("Calculator", "Home")" class="footer-link">Calculator</a></li>
                            <li><a href="@Url.Action("Pricing", "Home")" class="footer-link">Stats Engine</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-2">
                        <h3>RESOURCES</h3>
                        <ul>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">Documentation</a></li>
                            <li><a href="@Url.Action("Index", "Support")" class="footer-link">Support</a></li>
                            <li><a href="@Url.Action("Index", "Cases")" class="footer-link">Case of use</a></li>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">What is a heatmap?</a></li>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">What is A/B Testing?</a></li>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">What is Remote Assistance?</a></li>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">What is Funnel?</a></li>
                            <li><a href="@Url.Action("Index", "Documentation")" class="footer-link">UX & Usability</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2">
                        <h3>COMPANY</h3>
                        <ul>
                            <li><a href="@Url.Action("WhyUs", "Company")" class="footer-link">Why Crawler Site?</a></li>
                            <li><a href="@Url.Action("Events", "Company")" class="footer-link">Events</a></li>
                            <li><a href="@Url.Action("AboutUS", "Company")" class="footer-link">About us</a></li>
                            <li><a href="@Url.Action("Index", "Blog")" class="footer-link">Blog</a></li>
                            <li><a href="@Url.Action("AboutUS", "Company")" class="footer-link">Solution Partners</a></li>
                            <li><a href="@Url.Action("NonProfits", "Company")" class="footer-link">Non profits</a></li>
                            <li><a href="@Url.Action("Index", "Support")" class="footer-link">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 footer-separator">
                        <h3>LEGAL</h3>
                        <ul>
                            <li><a href="@Url.Action("Terms", "Legal")" class="footer-link">Terms & conditions</a></li>
                            <li><a href="@Url.Action("PrivacyPolicy", "Legal")" class="footer-link">Privacy policy</a></li>
                            <li><a href="@Url.Action("Cookies", "Legal")" class="footer-link">Cookies information</a></li>
                            <li><a href="@Url.Action("Security", "Legal")" class="footer-link">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="c"> 
        <div class="container"> 
            <div class="row">
                <img class="img-responsive" src="~/home-assets/img/GoDaddy.png" alt="godaddy certification">
            </div> 
        </div> 
    </div>
    <div id="dialog" class="dialog">
        <div class="dialog__overlay"></div>
        <div class="dialog__content">
            <h2></h2>
            <h4></h4>
            <div></div>
        </div>
    </div>

    <environment names="Development">
        <script>(function(){console.log("development")})()</script>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/home-assets/js/bootstrap.js"></script>

        <script src="~/js/modernizr.custom.js"></script>
        <script src="~/js/classie.js"></script>
		<script src="~/js/dialogFx.js"></script>
        <script src="~/lib/waypoints/lib/jquery.waypoints.js"></script>
        
        <script src="~/js/main.js"></script>
        <script src="~/js/sanitize_html.js"></script>
        <script src="~/js/dialog.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
        <script src="~/js/animate.js"></script>
    </environment>
    <environment names="Staging,Production">
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="~/home-assets/js/bootstrap.js"></script>

        <script src="~/js/modernizr.custom.js"></script>
        <script src="~/js/classie.js"></script>
		<script src="~/js/dialogFx.js"></script>
        <script src="~/lib/waypoints/lib/jquery.waypoints.js"></script>
        
        <script src="~/js/main.js"></script>
        <script src="~/js/sanitize_html.js"></script>
        <script src="~/js/dialog.js"></script>

        <script src="~/js/animate.js"></script>
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0733d75f-901a-414f-88b3-42186a2919ae";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.im/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    </environment>

    @RenderSection("scripts", required: false)



</body>

</html>