@{
    ViewBag.Title = "Users";
}

@section Scripts{
    <script src="~/js/countries.js"></script>
    <script src="@Url.Content("~/Angular/User/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script src="@Url.Content("~/Angular/User/Controller.js")"></script>
}


<div class="card  col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h2 class="text-center">Manage Users</h2>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <section ng-controller="UserController" ng-init="InitializeIndexView()">
            <div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                            <a href="@Url.Action("Add")" class="btn btn-danger"><i class="ti-plus"></i> New User</a>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 pull-right">
                            <input type="text" class="form-control" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ng-model="searchUser" />
                        </div>
                    </div>
                <table class="table table-hover">

                    <thead>
                        <tr>
                            <td>
                                <a href="#" ng-click="sortType = 'FullName'; sortReverse = !sortReverse">
                                    Full Name
                                    <span ng-show="sortType == 'FullName' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'FullName' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td>
                                <a href="#" ng-click="sortType = 'Email'; sortReverse = !sortReverse">
                                    Email
                                    <span ng-show="sortType == 'Email' && !sortReverse" class="fa fa-caret-down"></span>
                                    <span ng-show="sortType == 'Email' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            </td>
                            <td>

                                Actions


                            </td>
                        </tr>
                    </thead>


                    <tbody>
                        <tr ng-repeat="User in Users | orderBy:sortType:sortReverse | filter:searchUser">
                            <td>{{ User.FirstName }} {{ User.LastName }}</td>
                            <td>{{ User.Email }}</td>
                            <td>

                                <div>
                                    <a href="@Url.Action("Edit")?Id={{ User._id }}" class=" List-box-icons ti-pencil"></a>
                                    <a href="@Url.Action("Delete")?Id={{ User._id }}" class=" List-box-icons ti-trash"></a>

                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>












