@{
    ViewBag.Title = "Connection Filtering";
}

@section Scripts{
    <script src="@Url.Content("~/Angular/Ip/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Site/Service.js")"></script>
    <script src="@Url.Content("~/Angular/Ip/Controller.js")"></script>
}

<section ng-controller="IpController" ng-init="InitializeIndexView()">
    <div class="card col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="header">
            <h4 class="title text-center">Connection Filtering</h4>
            <p class="category">Block connections from the following IP addresses</p>
        
            <div class="col-lg-3 col-md-3 hidden-xs hidden-sm search-box">
                <input type="text" class="form-control" placeholder="&#xF002; Search" style="font-family:Arial, FontAwesome" ng-model="searchIP" />
            </div>
        </div>
        <div class="content">
            <div>
                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                        <a href="@Url.Action("Add")" class="btn btn-action"><i class="ti-plus"></i> New Ip</a>
                </div>
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-border-middle">
                        <thead>
                            <tr>
                                <td class="text-center">
                                    <a href="#" alt="Sort by IP" class="sort-element" ng-click="sortType = 'IP'; sortReverse = !sortReverse">
                                        IP
                                        <span ng-hide="sortType == 'IP'" class="ti-exchange-vertical"></span>
                                        <span ng-show="sortType == 'IP' && !sortReverse" class="ti-angle-down"></span>
                                        <span ng-show="sortType == 'IP' && sortReverse" class="ti-angle-up"></span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="#" alt="Sort by friendly name" class="sort-element" ng-click="sortType = 'Name'; sortReverse = !sortReverse">
                                        Friendly Name
                                        <span ng-hide="sortType == 'Name'" class="ti-exchange-vertical"></span>
                                        <span ng-show="sortType == 'Name' && !sortReverse" class="ti-angle-down"></span>
                                        <span ng-show="sortType == 'Name' && sortReverse" class="ti-angle-up"></span>
                                    </a>
                                </td>
                                <td>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="ip in Ips  | orderBy:sortType:sortReverse | filter:searchIP">
                                <td class="text-center">{{ ip.IP }}</td>
                                <td class="text-center">{{ ip.Name }}</td>
                                <td width="7%" class="text-center">
                                    <a href="@Url.Action("Edit")?Id={{ ip._id }}" class=" list-actions ti-pencil"></a>
                                    <a href="@Url.Action("Delete")?Id={{ ip._id }}" class=" list-actions ti-trash"></a>
                                </td>


                                @*<td><a href="@Url.Action("Edit")?Id={{ ip._id }}" class=" list-actions glyphicon-pencil"></a>  <a href="@Url.Action("Delete")?Id={{ ip._id }}" class=" list-actions glyphicon-trash"></a></col>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>